/.idea/
.php_cs.cache
/app/config/parameters.yml
/app/config/jwt/.gitkeep
/app/config/jwt/*
/behat.yml
bin/*
!bin/console
!bin/symfony_requirements
/phpunit.xml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
!var/cache/.gitkeep
/var/files/*
!var/files/.gitkeep
/app/config/jwt/*
!app/config/jwt/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/vendor/*
/web/bundles/
